@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(https://besthqwallpapers.com/Uploads/12-1-2018/37007/thumb2-green-forest-fog-mountainside-green-trees-taiga.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background: hsl(173, 13%, 13%, .6);
    border: 2px solid hsl(0, 0%, 100%, .4);
    color: #ffff;
    padding: 40px 30px;
    border-radius: 30px;
}

.container h3{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.container .input-box{
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 40px;
}

.container .input-box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: 2px solid hsl(0, 0%, 100%, .4);
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: #ffff;
}

.container input::placeholder{
    color: #ffff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
}

.Remember-Forgot{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 15px 0 15px;
}

.Remember-Forgot a{
    color: #ffff;
    text-decoration: none;
}

.container button{
    height: 50px;
    width: 100%;
    background: #ffff;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    color: #333;
    font-size: 18px;
    font-weight: 900;
}

.account{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.register-a{
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
}
